﻿@using NoktaApp.Models;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")


    @*rating plugin*@
        <link rel=" stylesheet" type="text/css" href="~/Content/rateit.css" media="screen" />

        <script type="text/javascript" src="~/Scripts/jquery.rateit.js"></script>

    @*remember to change the allowed referers in google apis site*@
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC91VgrPlp8m8t9Mcp9k_zSa-FXcRxdL5g">
    </script>

</head>
<body>
    <script>

        var noop = function (x) { return x; }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '@Microsoft.AspNet.Facebook.GlobalFacebookConfiguration.Configuration.AppId',
                status: true,
                cookie: true,
                xfbml: true,
                version: 'v2.0'
            });
            fbApiInit = true;
        };
        function fbEnsureInit(callback) {
            if (!window.fbApiInit) {
                setTimeout(function () { fbEnsureInit(callback); }, 50);
            } else {
                if (callback) {
                    callback();
                }
            }
        }
        //// Load the SDK Asynchronously
            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));


       
            // configure jQuery ajax for caching
            jQuery.ajaxSetup({
                cache: true // do not append a timestamp to a request URI
            });

            function inviteFriends() {
                FB.ui({
                    method: 'apprequests',
                    message: 'ما تقوللنا نكتة حلوة ;)'
                }, function (response) {
                    console.log(response);
                });
            }
            function callback(response) {
                console.log(response);
            }
    </script>

    <div id="wrapper">
        <header id="topHeader">
            
           
            @*<h1>نكتة :D</h1>*@
            <span id="arrow"></span>
            <h2>نكّت على نفسك ;)</h2>
            <img src="~/images/nokta.png" width="300" height="300"/>
           

        </header>
        <table>
            <tr>
                <td>
                </td>
                <td> <a href="~/User/Details/@Session["UserID"]"> <h2>Home</h2> </a> </td>
                <td> <a href="~/User/NokatFeed"> <h2>Nokat Feed</h2> </a> </td>
                <td>  <a href="#"><h2 onclick="inviteFriends()">Invite Friends</h2> </a> </td>
                @*<input type="button" id="btnInviteFriends" onclick="inviteFriends()" value="Invite Friends ;)">*@
            </tr>
          
            
        </table>


        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - Nokta. نكّت على نفسك</p>
        </footer>
    </div>
 
    @*@Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)*@
    @RenderSection("scripts", required: false)
</body>
</html>