﻿@model NoktaApp.Models.Nokta


<body id='nokta @Model.ID'>
   

    <table>

        <tr>
            <td></td>

            <td>
                <a href='/user/noktadetails/@Model.ID'>
                    <h3>@Model.Title</h3>
                </a>
              
            </td>

        </tr>

        <tr>

            <td>
                <a href="~/User/Details/@Model.UserID">
                    <img id="profilePicture@(Model.ID)" width="50" height="50" />
                </a>
            </td>
            <td>
                <textarea readonly="readonly" rows="4" cols="50" disabled="disabled" draggable="false"> @Model.Body </textarea>
                <label>@Model.Date</label>
            </td>
        </tr>
    </table>

    <div class="fb-like" data-href="https://apps.facebook.com/noktatest/user/noktadetails/@Model.ID"
         data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

    @*<label>Your Rating</label>

    <div class="rateit" id="rating @Model.ID"  data-rateit-value="@ViewBag.UserRank" data-rateit-resetable="false" data-rateit-ispreset="true">
    </div>

    <br />*@
    <label>Rating</label>
    <div class="rateit" id="avgRate(@Model.ID)" data-rateit-value="@Model.Rank" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
    
</body>

<script>
    fbEnsureInit(function SetPicture() {
        FB.api(
               "@Model.User.facebookId" + "/picture",
            function (response) {
                if (response && !response.error) {
                    $('#profilePicture@(Model.ID)').attr('src', response.data.url);
                }
            });
    });

    //rating plugin
    var noktaId = Number(@Model.ID);
    
    @*$("#rating @Model.ID").bind('rated', function (event, value) {
        jQuery.ajax({
            url: "@Url.Action("RateNokta", "User")",
            data: {
                'score': value,
                'noktaId': noktaId
            }
        });
    });*@
    
</script>