﻿@using  NoktaApp.Models;
@model NoktaApp.Models.Nokta

@{
    ViewBag.Title = "Nokta Details";
}


<head>
    @* GOOGLE MAP API SCRIPTS*@
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        html, body, #map-canvas {
            height: 50%;
            margin: 0px;
            padding: 0px;
        }
    </style>

    <script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see a blank space instead of the map, this
    // is probably because you have denied permission for location sharing.


    var map;
    var pos;
    var currentLat;
    var currentLng;

    function initialize() {
        var mapOptions = {
            zoom: 6
        };
        //map = new google.maps.Map(document.getElementById('map-canvas'),
        //    mapOptions);

        //    // Try HTML5 geolocation
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                pos = new google.maps.LatLng(position.coords.latitude,
                                                position.coords.longitude);
                currentLat = position.coords.latitude;
                currentLng = position.coords.longitude;

                console.log("Lat: " + currentLat + ", Lng: " + currentLng);
                //var infowindow = new google.maps.InfoWindow({
                //    map: map,
                //    position: pos,
                //    content: 'Location found using HTML5.'
                //});

                map.setCenter(pos);
            }, function () {
                handleNoGeolocation(true);
            },
            { timeout: 10000 });
        } else {
            // Browser doesn't support Geolocation
            handleNoGeolocation(false);
        }

        var lat = noop(@Model.Location.Latitude);
        var lng = noop(@Model.Location.Longitude);
        var options;
        if (lat != noop(@float.MaxValue) && lng != noop(@float.MaxValue)) {

            map = new google.maps.Map(document.getElementById('map-canvas'),
           mapOptions);
            options = {
                map: map,
                position: new google.maps.LatLng(lat, lng),
                content: "النتكة من هنا"
            };

            var infowindow = new google.maps.InfoWindow(options);
            map.setCenter(options.position);

            currentLat = noop(@Session["currentLat"]);
            currentLng = noop(@Session["currentLng"]);
            if (currentLat != null && currentLng != null) {
                var tmp = calculateDistance(lat, lng, currentLat, currentLng);
               
                document.getElementById("distanceFromCurrentUser").innerText
                    = "Distance between you and this Nokta's Location is " + tmp + " KMs";
            }
        }
    }

    function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
            var content = 'Error: The Geolocation service failed.';
        } else {
            var content = 'Error: Your browser doesn\'t support geolocation.';
        }

    }



    function toRad(Value) {
        /** Converts numeric degrees to radians */
        return Value * Math.PI / 180;
    }
    function calculateDistance(lat1, lon1, lat2, lon2) {
        var R = 6371; // Earth's Radius in kms
        var theta1 = toRad(lat1);
        var theta2 = toRad(lat2);
        var deltaTheta = toRad(lat2 - lat1);
        var deltaLambda = toRad(lon2 - lon1);
       
        var a = Math.sin(deltaTheta / 2) * Math.sin(deltaTheta / 2) +
                Math.cos(theta1) * Math.cos(theta2) *
                Math.sin(deltaLambda / 2) * Math.sin(deltaLambda / 2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));

        var d = R * c;
        return d;
    }


    google.maps.event.addDomListener(window, 'load', initialize);
</script>

</head>

<body id='nokta @Model.ID'>

      <table>
          <tr>
              <td>
                  <a href='/user/noktadetails/@Model.ID'>
                      <h3>@Model.Title</h3>
                  </a>
              </td>
              <td></td>
          </tr>

          <tr>
              <td>
                  <a href="~/User/Details/@Model.UserID">
                      <img id="profilePicture" width="50" height="50" align="left" />
                  </a> 
              </td>

              <td>
                  <textarea readonly="readonly" rows="4" cols="50" draggable="false"> @Model.Body </textarea>
                  
              </td>
          </tr>
      </table>

    <div class="fb-like" data-href="https://apps.facebook.com/noktatest/user/noktadetails/@Model.ID"
             data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    <label>@Model.Date</label>

    <div id="map-canvas"></div>
    <br />
    <div id="distanceFromCurrentUser"></div>

    <label>Your Rating</label>
    <div class="rateit" id="rating" data-rateit-value="@ViewBag.UserRank" data-rateit-resetable="false" data-rateit-ispreset="true">
    </div>

    <br />
    <label>Rating</label>
    <div class="rateit" id="avgRate" data-rateit-value="@Model.Rank" data-rateit-ispreset="true" data-rateit-readonly="true"></div>

</body>

<script type="text/javascript">

    fbEnsureInit(function SetPicture() {
        FB.api(
               "@Model.User.facebookId" + "/picture",
                function (response) {
                    if (response && !response.error) {
                        $('#profilePicture').attr('src', response.data.url);
                    }
                });
    });

    //rating plugin
    var noktaId = Number(@Model.ID);
    
    $("#rating").bind('rated', function (event, value) {
        jQuery.ajax({
            url: "@Url.Action("RateNokta", "User")",
            data: {
                'score': value,
                'noktaId': noktaId
            }
           
            
        });
        location.reload();
        // $("#avgRate").attr('data-rateit-value', rank);//just reloading to show the new rating
      
    });


</script>
