﻿@model NoktaApp.Models.User

@{
    ViewBag.Title = "Details";
}


<head>
    @* GOOGLE MAP API SCRIPTS*@
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        html, body, #map-canvas {
            height: 50%;
            margin: 0px;
            padding: 0px;
        }
    </style>

    <script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see a blank space instead of the map, this
    // is probably because you have denied permission for location sharing.

    var map;
    var pos;
    var latitude;
    var longitude;

    function initialize() {
        var mapOptions = {
            zoom: 6
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        //    // Try HTML5 geolocation
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                pos = new google.maps.LatLng(position.coords.latitude,
                                                position.coords.longitude);
                latitude = position.coords.latitude;
                longitude = position.coords.longitude;

                console.log("Lat: " + latitude + ", Lng: " + longitude);
                //saving current position in Session Variable
                jQuery.ajax({
                    type: "POST",
                    url: "@Url.Action("SetCurrentPosition", "User")",
                    data: {
                        "longitude": longitude,
                        "latitude": latitude
                    }
                });
               
                var infowindow = new google.maps.InfoWindow({
                    map: map,
                    position: pos,
                    content: 'Location found using HTML5.'
                });

                map.setCenter(pos);
            }, function () {
                handleNoGeolocation(true);
            }, {timeout: 10000});
        } else {
            // Browser doesn't support Geolocation
            handleNoGeolocation(false);
        }
    }

    function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
            var content = 'Error: The Geolocation service failed.';
        } else {
            var content = 'Error: Your browser doesn\'t support geolocation.';
        }

        var options = {
            map: map,
            position: new google.maps.LatLng(30.0581, 31.2289),
            content: content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
    }

    //google.maps.event.addDomListener(window, 'load', initialize);

    </script>
</head>

    <body>
        @if (Model.ID == (int)Session["UserID"])
        {
            <table>
                <tr>
                    <td>
                        <label>Nokta Title: </label>
                        <input type="text" id="noktaTitle" name="noktaTitle" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <span id="profilePicture">
                            <img id="pp" src="@ViewBag.fbUser.ProfilePicture.Data.Url" />
                        </span>
                        <textarea id="noktaBody" name="noktaBody" rows="4" cols="50" maxlength="200"></textarea>
                    </td>

                    <td></td>
                </tr>
                <tr>
                    <td>
                        <button id="ToggleLocation" onclick="toggleLocation()">Log Current Location</button>
                        <input type="button" id="btnPostNokta" onclick="postNokta()" value="Post Nokta">
                    </td>
                </tr>
            </table>

            <div id="map-canvas"></div>
        }
        <div id="Nokat">
            @Html.Partial("NokatPartial", Model.Nokat.ToList())
        </div>

    </body>


<script type="text/javascript">
    var addLocation = false;
    var locationAdded = false;
    function toggleLocation()
    {
        if (!addLocation) {
            addLocation = true;
            $("#ToggleLocation").html("Don't Log Location");
            //to not call initialize more than once
                initialize();
              
        } else {
            addLocation = false;
            $("#ToggleLocation").html("Log Current Location");
            $("#map-canvas").html("");
        }
    }
            function postNokta() {
                var noktaTitle = $("#noktaTitle").val();
                var noktaBody = $("#noktaBody").val();

                if (!addLocation) {
                    latitude =  noop(@float.MaxValue);
                    longitude = noop(@float.MaxValue);
                }
                jQuery.ajax({
                    url: "@Url.Action("PostNokta", "User")",
                    data: {
                        'title': noktaTitle,
                        'body': noktaBody,
                        "longitude": longitude,
                        "latitude": latitude
                    }
                });

                $('#Nokat').load('@Url.Action("DisplayNokat", "User", new { id = Model.ID })');

            }
            //==========================================================================
           
            //=====================================================================================
            fbEnsureInit(function SetPicture() {
                FB.api(
                       "@Model.facebookId" + "/picture",
                    function (response) {
                        if (response && !response.error) {
                            $('#pp').attr('src', response.data.url);
                        }
                    });
            });

</script>

