﻿@using  NoktaApp.Models;
@model IEnumerable<NoktaApp.Models.Nokta>

@{
    ViewBag.Title = "Home";
}



<body>
    <div id="NokatFeed">
        @foreach (var item in Model)
    {
            <div>
                @Html.Action("NoktaPartial", "User", new { id = item.ID })
            </div>

    }
    </div>
</body>

