﻿@model IEnumerable<NoktaApp.Models.Nokta>


<script type="text/javascript">


</script>

<div id="NokatPartial">
    @foreach (var item in Model)
    {
        <div>
            @Html.Action("NoktaPartial", "User", new { id = item.ID })
        </div>
    }
</div>